# Data Formatting (numeric and strings)

This is a process where we make sure we have the right data type.

It is important to realize that while you do formatting you may need some messiness in the values may appear that again again require a cleaning of the column.


# Numeric case

Let's start by reading in some data:

In [21]:
from IPython.display import IFrame
wikiLink1="https://en.wikipedia.org/wiki/List_of_ongoing_armed_conflicts#Deaths_by_country"
IFrame(wikiLink1, width=900, height=500)

That table is showing the top 20 countries with deaths per year from 2016 to 2021. Let's bring it:

In [22]:
import pandas as pd
badCountries = pd.read_html(wikiLink1,flavor='bs4',
                        attrs = {'class': 'wikitable sortable'})
len(badCountries)

5

The table of interes is here:

In [3]:
theTable=badCountries[4].copy()
theTable

   Rank               2020[f]                   2021[f]             \
   Rank               Country     Deaths        Country     Deaths
0     1                Mexico  34,512[g]  / Afghanistan      42223
1     2           Afghanistan      30974          Yemen      31048
2     3                 Yemen      19561       Ethiopia      22800
3     4                 Syria       7620         Mexico  18,811[g]
4     5               Nigeria       7172        Myanmar      11114
5     6              DR Congo       6162        Nigeria       9687
6     7  Azerbaijan/  Artsakh       6110       DR Congo       6283
7     8               Somalia       2950          Syria       5828
8     9                  Mali       2734        Somalia       3532
9    10                  Iraq       2436           Iraq       2605
10   11          Burkina Faso       2268   Burkina Faso       2358
11   12           South Sudan       2245    South Sudan       1986
12   13              Ethiopia       1813           Mali       1911
13   14            Mozambique       1696            CAR       1704
14   15                 Libya       1484          Sudan       1584
15   16              Cameroon       1447          Niger       1454
16   17           Philippines       1316       Colombia       1399
17   18                 India        783     Mozambique       1194
18   19              Colombia        765       Cameroon        790
19   20               Myanmar        650      Palestine        484

         2022[f]                  2023[f]
         Country     Deaths       Country   Deaths
0       Ethiopia   109,600+       Ukraine  95,088+
1        Ukraine   100,000+     Palestine  22,205+
2        Myanmar      20206       Myanmar    15773
3         Mexico  14,254[g]         Sudan    13225
4          Yemen       7133       Nigeria     8505
5        Somalia       6484  Burkina Faso     8486
6       DR Congo       6254       Somalia     8342
7          Syria       5639        Mexico     7168
8           Mali       4793         Syria     6211
9   Burkina Faso       4700          Mali     4285
10          Iraq       4181      DR Congo     3902
11   Afghanistan       3930      Ethiopia     3830
12       Nigeria       3780         Yemen     3169
13         Niger       3000      Pakistan     2116
14      Colombia       2276         Haiti     2014
15   South Sudan       1731      Colombia     1932
16         Sudan       1327        Israel     1410
17      Cameroon        943          Iraq     1335
18    Mozambique        916   South Sudan     1240
19      Pakistan        900      Cameroon     1042

The first thing to notice is the column names, which is a multi index:

In [4]:
theTable.columns

MultiIndex([(   'Rank',    'Rank'),
            ('2020[f]', 'Country'),
            ('2020[f]',  'Deaths'),
            ('2021[f]', 'Country'),
            ('2021[f]',  'Deaths'),
            ('2022[f]', 'Country'),
            ('2022[f]',  'Deaths'),
            ('2023[f]', 'Country'),
            ('2023[f]',  'Deaths')],
           )

What about these new names?

In [5]:
# concatenate elements

newNames=["_".join((b,a)) for a,b in theTable.columns]
newNames

['Rank_Rank',
 'Country_2020[f]',
 'Deaths_2020[f]',
 'Country_2021[f]',
 'Deaths_2021[f]',
 'Country_2022[f]',
 'Deaths_2022[f]',
 'Country_2023[f]',
 'Deaths_2023[f]']

In [6]:
# looks better?
betterNames=[n.split('[')[0] for n in newNames]
betterNames

['Rank_Rank',
 'Country_2020',
 'Deaths_2020',
 'Country_2021',
 'Deaths_2021',
 'Country_2022',
 'Deaths_2022',
 'Country_2023',
 'Deaths_2023']

In [7]:
#Then:
theTable.columns=betterNames
theTable

,Rank_Rank,Country_2020,Deaths_2020,Country_2021,Deaths_2021,Country_2022,Deaths_2022,Country_2023,Deaths_2023
0,1,Mexico,"34,512[g]",/ Afghanistan,42223,Ethiopia,"109,600+",Ukraine,"95,088+"
1,2,Afghanistan,30974,Yemen,31048,Ukraine,"100,000+",Palestine,"22,205+"
2,3,Yemen,19561,Ethiopia,22800,Myanmar,20206,Myanmar,15773
3,4,Syria,7620,Mexico,"18,811[g]",Mexico,"14,254[g]",Sudan,13225
4,5,Nigeria,7172,Myanmar,11114,Yemen,7133,Nigeria,8505
5,6,DR Congo,6162,Nigeria,9687,Somalia,6484,Burkina Faso,8486
6,7,Azerbaijan/ Artsakh,6110,DR Congo,6283,DR Congo,6254,Somalia,8342
7,8,Somalia,2950,Syria,5828,Syria,5639,Mexico,7168
8,9,Mali,2734,Somalia,3532,Mali,4793,Syria,6211
9,10,Iraq,2436,Iraq,2605,Burkina Faso,4700,Mali,4285
10,11,Burkina Faso,2268,Burkina Faso,2358,Iraq,4181,DR Congo,3902
11,12,South Sudan,2245,South Sudan,1986,Afghanistan,3930,Ethiopia,3830
12,13,Ethiopia,1813,Mali,1911,Nigeria,3780,Yemen,3169
13,14,Mozambique,1696,CAR,1704,Niger,3000,Pakistan,2116
14,15,Libya,1484,Sudan,1584,Colombia,2276,Haiti,2014
15,16,Cameroon,1447,Niger,1454,South Sudan,1731,Colombia,1932
16,17,Philippines,1316,Colombia,1399,Sudan,1327,Israel,1410
17,18,India,783,Mozambique,1194,Cameroon,943,Iraq,1335
18,19,Colombia,765,Cameroon,790,Mozambique,916,South Sudan,1240
19,20,Myanmar,650,Palestine,484,Pakistan,900,Cameroon,1042

We do not have multi index anymore. Let's get rid of the first column too:

In [8]:
theTable.drop(columns=[theTable.columns[0]], inplace=True)
theTable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country_2020  20 non-null     object
 1   Deaths_2020   20 non-null     object
 2   Country_2021  20 non-null     object
 3   Deaths_2021   20 non-null     object
 4   Country_2022  20 non-null     object
 5   Deaths_2022   20 non-null     object
 6   Country_2023  20 non-null     object
 7   Deaths_2023   20 non-null     object
dtypes: object(8)
memory usage: 1.4+ KB

Notice that Pandas has not recognised any column as numeric. Let's check the ones we know are numeric:

In [9]:
theTable.iloc[:,1:8:2]

   Deaths_2020 Deaths_2021 Deaths_2022 Deaths_2023
0    34,512[g]       42223    109,600+     95,088+
1        30974       31048    100,000+     22,205+
2        19561       22800       20206       15773
3         7620   18,811[g]   14,254[g]       13225
4         7172       11114        7133        8505
5         6162        9687        6484        8486
6         6110        6283        6254        8342
7         2950        5828        5639        7168
8         2734        3532        4793        6211
9         2436        2605        4700        4285
10        2268        2358        4181        3902
11        2245        1986        3930        3830
12        1813        1911        3780        3169
13        1696        1704        3000        2116
14        1484        1584        2276        2014
15        1447        1454        1731        1932
16        1316        1399        1327        1410
17         783        1194         943        1335
18         765         790         916        1240
19         650         484         900        1042

Let´s clean this:

In [10]:
theTable.iloc[:,1:8:2].apply(lambda x:x.str.replace("\\[\\w+\\]|\\W","",regex=True))

   Deaths_2020 Deaths_2021 Deaths_2022 Deaths_2023
0        34512       42223      109600       95088
1        30974       31048      100000       22205
2        19561       22800       20206       15773
3         7620       18811       14254       13225
4         7172       11114        7133        8505
5         6162        9687        6484        8486
6         6110        6283        6254        8342
7         2950        5828        5639        7168
8         2734        3532        4793        6211
9         2436        2605        4700        4285
10        2268        2358        4181        3902
11        2245        1986        3930        3830
12        1813        1911        3780        3169
13        1696        1704        3000        2116
14        1484        1584        2276        2014
15        1447        1454        1731        1932
16        1316        1399        1327        1410
17         783        1194         943        1335
18         765         790         916        1240
19         650         484         900        1042

Then,

In [11]:
theTable.iloc[:,1:8:2]=theTable.iloc[:,1:8:2].apply(lambda x:x.str.replace("\\[\\w+\\]|\\W","",regex=True))

We have:

In [12]:
theTable

,Country_2020,Deaths_2020,Country_2021,Deaths_2021,Country_2022,Deaths_2022,Country_2023,Deaths_2023
0,Mexico,34512,/ Afghanistan,42223,Ethiopia,109600,Ukraine,95088
1,Afghanistan,30974,Yemen,31048,Ukraine,100000,Palestine,22205
2,Yemen,19561,Ethiopia,22800,Myanmar,20206,Myanmar,15773
3,Syria,7620,Mexico,18811,Mexico,14254,Sudan,13225
4,Nigeria,7172,Myanmar,11114,Yemen,7133,Nigeria,8505
5,DR Congo,6162,Nigeria,9687,Somalia,6484,Burkina Faso,8486
6,Azerbaijan/ Artsakh,6110,DR Congo,6283,DR Congo,6254,Somalia,8342
7,Somalia,2950,Syria,5828,Syria,5639,Mexico,7168
8,Mali,2734,Somalia,3532,Mali,4793,Syria,6211
9,Iraq,2436,Iraq,2605,Burkina Faso,4700,Mali,4285
10,Burkina Faso,2268,Burkina Faso,2358,Iraq,4181,DR Congo,3902
11,South Sudan,2245,South Sudan,1986,Afghanistan,3930,Ethiopia,3830
12,Ethiopia,1813,Mali,1911,Nigeria,3780,Yemen,3169
13,Mozambique,1696,CAR,1704,Niger,3000,Pakistan,2116
14,Libya,1484,Sudan,1584,Colombia,2276,Haiti,2014
15,Cameroon,1447,Niger,1454,South Sudan,1731,Colombia,1932
16,Philippines,1316,Colombia,1399,Sudan,1327,Israel,1410
17,India,783,Mozambique,1194,Cameroon,943,Iraq,1335
18,Colombia,765,Cameroon,790,Mozambique,916,South Sudan,1240
19,Myanmar,650,Palestine,484,Pakistan,900,Cameroon,1042

We have a clean version, but:

In [13]:
theTable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country_2020  20 non-null     object
 1   Deaths_2020   20 non-null     object
 2   Country_2021  20 non-null     object
 3   Deaths_2021   20 non-null     object
 4   Country_2022  20 non-null     object
 5   Deaths_2022   20 non-null     object
 6   Country_2023  20 non-null     object
 7   Deaths_2023   20 non-null     object
dtypes: object(8)
memory usage: 1.4+ KB

We need a simple step:

In [14]:
theTable.iloc[:,1]=pd.to_numeric(theTable.iloc[:,1])
theTable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country_2020  20 non-null     object
 1   Deaths_2020   20 non-null     int64
 2   Country_2021  20 non-null     object
 3   Deaths_2021   20 non-null     object
 4   Country_2022  20 non-null     object
 5   Deaths_2022   20 non-null     object
 6   Country_2023  20 non-null     object
 7   Deaths_2023   20 non-null     object
dtypes: int64(1), object(7)
memory usage: 1.4+ KB

<ipython-input-14-2758b8984d87>:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  theTable.iloc[:,1]=pd.to_numeric(theTable.iloc[:,1])

Then,

In [15]:
theTable[theTable.iloc[:,1:8:2].columns]=theTable.iloc[:,1:8:2].apply(lambda x: pd.to_numeric(x))
theTable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country_2020  20 non-null     object
 1   Deaths_2020   20 non-null     int64
 2   Country_2021  20 non-null     object
 3   Deaths_2021   20 non-null     int64
 4   Country_2022  20 non-null     object
 5   Deaths_2022   20 non-null     int64
 6   Country_2023  20 non-null     object
 7   Deaths_2023   20 non-null     int64
dtypes: int64(4), object(4)
memory usage: 1.4+ KB

Statistics can be obtained when data is in the rigth type:

In [16]:
theTable.describe()

        Deaths_2020   Deaths_2021    Deaths_2022   Deaths_2023
count     20.000000     20.000000      20.000000     20.000000
mean    6734.900000   8439.750000   15102.350000  10563.900000
std     9885.751655  11541.349236   31068.332925  20656.857462
min      650.000000    484.000000     900.000000   1042.000000
25%     1474.750000   1551.500000    2139.750000   1993.500000
50%     2352.000000   2481.500000    4440.500000   4093.500000
75%     6414.500000  10043.750000    6646.250000   8490.750000
max    34512.000000  42223.000000  109600.000000  95088.000000

As you see, the other columns were 'rejected'. Of course, you can force the fucntion:

In [17]:
theTable.describe(include='all')

,Country_2020,Deaths_2020,Country_2021,Deaths_2021,Country_2022,Deaths_2022,Country_2023,Deaths_2023
count,20,20.000000,20,20.000000,20,20.000000,20,20.000000
unique,20,NaN,20,NaN,20,NaN,20,NaN
top,Mexico,NaN,/ Afghanistan,NaN,Ethiopia,NaN,Ukraine,NaN
freq,1,NaN,1,NaN,1,NaN,1,NaN
mean,NaN,6734.900000,NaN,8439.750000,NaN,15102.350000,NaN,10563.900000
std,NaN,9885.751655,NaN,11541.349236,NaN,31068.332925,NaN,20656.857462
min,NaN,650.000000,NaN,484.000000,NaN,900.000000,NaN,1042.000000
25%,NaN,1474.750000,NaN,1551.500000,NaN,2139.750000,NaN,1993.500000
50%,NaN,2352.000000,NaN,2481.500000,NaN,4440.500000,NaN,4093.500000
75%,NaN,6414.500000,NaN,10043.750000,NaN,6646.250000,NaN,8490.750000
max,NaN,34512.000000,NaN,42223.000000,NaN,109600.000000,NaN,95088.000000

The function **to_numeric** worked because we had a clean column, if that is not the case you will see this:

In [27]:
pd.to_numeric(badCountries[4].iloc[:,4])

ValueError: Unable to parse string "18,811[g]" at position 3

Python can coerce values in simple situations:

In [28]:
float('20.1')

20.1

In [29]:
# but not this one

float('20.1*')

ValueError: could not convert string to float: '20.1*'

Consider this difference in memory:

In [33]:
theTable.iloc[:,1:8:2].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Deaths_2020  20 non-null     int64
 1   Deaths_2021  20 non-null     int64
 2   Deaths_2022  20 non-null     int64
 3   Deaths_2023  20 non-null     int64
dtypes: int64(4)
memory usage: 768.0 bytes

In [32]:
theTable.iloc[:,1:8:2].astype('int32').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Deaths_2020  20 non-null     int32
 1   Deaths_2021  20 non-null     int32
 2   Deaths_2022  20 non-null     int32
 3   Deaths_2023  20 non-null     int32
dtypes: int32(4)
memory usage: 448.0 bytes